{% extends 'base.html' %} 
  	{% block content %}
        <div id="resetcompletebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Kimlik doğrulama QR kodu</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="qrcomplete-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="qrcompleteform" class="form-horizontal" role="form" method="post">
                             
			<div class="qr_code">
		<p>Mobil cihazınızla (akıllı telefon, tablet vb.) yoklama için bu QR kodunu tarayın:</p>	
		<div><img src="{% url "auth_qr_code" auth_code %}" alt="QR"></div>
		<p>Üretilen her QR kodu yalnızca bir kez ve yalnızca 3 dakika çalışır.</p>
		</div>
                		

		        </form>     
                    </div>                     
             </div>  
        </div>
	{% endblock %}